.offer_key_wrap{
    display: flex;
    padding: 20px 30px;
    border-right: 1px solid hsl(var(--black)/.05);
    border-bottom: 1px solid hsl(var(--black)/.05);
}

.offer_key_wrap .icon_wrap i{
    font-size: 52px;
    color: hsl(var(--base));
}

.offer_key_wrap .content_wrap{
    padding: 0px 0px 20px 20px;
}

.offer_key_wrap .content_wrap .title{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.offer_key_wrap .content_wrap .subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
}

@media (max-width:1182px){
    .offer_key_wrap .content_wrap {
      padding: 0px 0px 0px 14px !important;
    }
  }
  @media (max-width:991px){
    .offer_key_wrap {
      border: none !important;
    }
  }
  

@media (max-width:425px){
    .offer_key_wrap{
       flex-wrap: wrap;
       padding: 20px 0px;
    }
    .offer_key_wrap .content_wrap{
        margin-top: 12px;
        padding: 0px  !important;
    }
}